# Generic exclusions
.idea/
.DS_Store

# dirs
vendor
tmp


# Unit Test files
.phpunit.result.cache
Tests/data/**
!Tests/data/.43905164-f3ed-462d-9536-bf6e96583523
!Tests/data/cache/.empty
!Tests/data/logs/.empty
!Tests/data/temp/.empty
composer.lock
.phpunit.cache
